{% extend "base.html" %}

{% block content %}

    <h1>Example forum integration</h1>

    <p>Your are {{ request.user }}</p>

    <h3>Forum settings</h3>
    <p>
        <a href="{% url 'avatar_change' %}"><i class="icon-user icon-white"></i> Change avatar image</a>
    </p>

    <div id="my-moot"></div>

{% enblock %}

{% block custom_script %}
   <!-- Moot explicitly neeeds ajax.googleapis.com hosted jQuery due to CORS restrictions -->

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
   <script src="https://cdn.moot.it/1/moot.min.js"></script>

   <script>

        window.ssoConfig = {{ sso_config|safe }};
        var mootDebug = {};

        $(function() {

            console.log("SSO config", window.ssoConfig);

            $("#my-moot").moot({
               url: "{{ forum_url }}",
               title: "Example forums",
               sso: window.ssoConfig
            });
        });
   </script>
{% endblock %}