<!doctype html>
<html>
<head>
    <title>Moot.it forum example</title>

    <!-- 1. Moot style -->
    <link rel="stylesheet" type="text/css" href="https://cdn.moot.it/1/moot.css">
</head>
<body>

    <h1>Example forum integration</h1>

    <p>Your are {{ request.user }}</p>

    <div id="my-moot"></div>

   <!-- Moot explicitly neeeds ajax.googleapis.com hosted jQuery due to CORS restrictions -->

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
   <script src="https://cdn.moot.it/1/moot.min.js"></script>

   <script>

        window.ssoConfig = {{ sso_config|safe }};
        var mootDebug = {};

        $(function() {

            console.log("SSO config", window.ssoConfig);

            $("#my-moot").moot({
               url: "{{ forum_url }}",
               title: "Example forums",
               sso: window.ssoConfig
            });
        });
   </script>
</body>
</html>